.login {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    background-color: rgb(209, 75, 242);
    justify-content: center;
    text-align: center;
    margin-left: 600px;
}


.form {
    display: flex;
    flex-direction: column;
      padding: 2rem;
      border-radius: 25px;
      justify-content: center;
        text-align: center;
        align-items: center;
    }
  
    h1 {
      color: white;
    }

    label {
        color: black;
    }

    button {
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100px;
        margin-top: 20px;
    }

    input {
        border-radius: 20px;
        height: 25px;
    }